@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import "vars";
@import "responsive";

html {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background: $soft-violet;
    background: linear-gradient(90deg, $soft-violet 0%, $soft-blue 100%);
}

main {
    width: 1000px;
    height: 650px;
    background-color: #ffffff;
    margin: calc((100vh - 650px) / 2) calc((100vw - 1000px) / 2);
    display: flex;
    flex-direction: row;
    border-radius: 2rem;

    .img-container {
        width: 50%;
        background-image: url('../assets/images/bg-pattern-desktop.svg');
        background-size: 100% 100%;
        overflow: hidden;
        img {
            position: relative;
            &:first-child {
                top: 150px;
                right: 50px;
            }
            &:last-child {
                bottom: 90px;
                right: 40px;
            }
        }
    }

    .main-information {
        width: 50%;
        padding: 50px;
        margin-top: 20px;
        h1 {
            font-weight: $font-bold;
            font-size: 3rem;
            color: $very-dark-desaturated-blue;
        }
        .qas {
            font-size: 1.5rem;
            color: $very-dark-grayish-blue;
            margin-top: 20px;
            .qa {
                border-bottom: 1px lightgray solid;
                padding: 25px 0;
                .question {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    img {
                        width: 15px;
                        height: 11px;
                        cursor: pointer;
                    }
                }
                .answer {
                    display: none;
                    margin-top: 15px;
                    color: $dark-grayish-blue;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
    }
}