// PRIMARY TEXT
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// PRIMARY GRADIENT
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// NEUTRAL TEXT
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// TYPOGRAPHY FONT SIZE
$font-size: 12px;
$font-light: 400;
$font-bold: 700;